<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1<% if (includeBootstrap) { %>, shrink-to-fit=no<% } %>">
    <title><%= appname %></title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="//www.uniqlo.com/na-static/on/demandware.static/Sites-UniqloUS-Site/-/default/v1551985066693/css/fontfaces.css" type="text/css" rel="preconnect"/>
    <link href="//www.uniqlo.com/na-static/on/demandware.static/Sites-UniqloUS-Site/-/default/v1504016526668/css/allinone.css" rel="stylesheet" type="text/css" />
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <% if (includeBootstrap) { %>
      <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <% } %>
  </head>
  <body>



      

    <!-- ————————————————————————————————————o————————————————————————————————————o FULL WIDTH -->
    <!-- ————————————————————————————————————o FULL WIDTH -->
    <div class="pt_primary">
        <div id="main">
            <div class="primary-content">
                <div id="holder">UNIQLO Full Width Content Here</div>
            </div>
        </div>
    </div>




    <!-- ————————————————————————————————————o————————————————————————————————————o SIDEBARRED -->
    <!-- ————————————————————————————————————o SIDEBARRED -->
    <!-- <div id="main">
      <div id="main" class="primary-content">
        <div class="product-grid-slider">
          <div class="content-second-slot category-banner-slot">
            <div id="holder">UNIQLO Content *With Sidebar* Here</div>
          </div>
        </div>
      </div>
    </div> -->

      




    
    <% if (includeAnalytics) { %>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <% } %>
    <!-- build:js scripts/vendor.js -->	
    <% if (includeJQuery || includeBootstrap) { %>
      <script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
    <% } %>
    <% if (includeBootstrap) { %>
      <script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <% } %>
    <!-- endbuild -->	
    <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/js/jquery.fancybox.min.js"></script>
    <script>
        $(function() {
            $("#holder").load("originalHtml.html");
        });
    </script>
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
