$fontFam_uqReg: UniqloProRegular,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$fontFam_uqBold: UniqloProBold,
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$fontFam_hel: "Helvetica Neue",
Helvetica,
Arial,
sans-serif;


// FULL WIDTH SPECIFICITY
// 
.pt_primary #main .primary-content  {

}


// // SIDEBARRED SPECIFICITY
// // 
// #main .primary-content .product-grid-slider .content-second-slot.category-banner-slot {

// }